/Notigraghy_xamarin/Notigraghy/obj
/Notigraghy_xamarin/Notigraghy/bin
/Notigraghy_xamarin/Notigraghy.Android/obj
/Notigraghy_xamarin/Notigraghy.Android/bin
/Notigraghy_xamarin/Notigraghy.iOS/obj
/Notigraghy_xamarin/Notigraghy.iOS/bin
